html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 60px;
	background-color: #ffffff;
	background-image: url("../images/bg.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.headerContainer {
	width: 960px;
	height: 90px;
	margin: 0 auto;
}

.header {
	width:100%;
	margin:0;
	display:table;
	position:relative;
	background-color: white;
	background-image: none;
	color: #e1d8c4;
	height: 90px;
	border-bottom: 2px solid #e1d8c4;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.pageTitle {
	background-color: #4aaaa5;
	color: white;
	/*margin-left: 85px;*/
	vertical-align: middle;
	text-align: center;
	position: absolute;
	padding-left:37px;
	padding-right:37px;
	padding-top: 34px;
	padding-bottom: 34px;
	line-height: 22px;
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;	
}

.userNavContainer {
	height: 100%;
	width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.userNav {
	margin-top:45px;
	list-style-type: disc;
	text-decoration: none;
	float: right;
	/*
	width: 75%;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: right;
	box-sizing: border-box;
	margin: auto 0;
	*/
}

.userNav a {
	text-decoration: none;
	color: silver;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}

.userNav a:visited {
	color: silver;
}

.userNav li {
	display: inline;
	padding:0 .5em;
	border-right:1px solid #e3e3e3;
}

.userNav li:last-child {
	border-right:0;
	padding-right:0;
}

.infoContainer {
	background-color: white;
    width: 600px;
    min-height: 325px;
    /*height: 325px;*/
    padding: 25px;
    margin-top: 40px;
    float:left;
    margin-bottom: 40px;
}

.infoTitle {

	color: #4aaaa5;
	font-size: 30px; 
	padding-top: 10px;
	padding-bottom: 10px;
}

img {

	float: left;
    margin: 0 10px 10px 10px;
}

.bio {
	color: #666666;
	float: clear;


}

.contactForm {
	color: #b3b9a7;
}

.contactForm textarea {
	width: 590px;
	height: 200px;
}

.contactForm input[type=text] {
	 width: 590px;
}

.contactFormLabel {
	padding-top: 20px;
}

.contactForm input[type=submit] {
	background-color: #4aaaa5;
	color: white;
	border-radius: 0px;
	border:0 none; 
	width: 80px;
	height: 30px;
}

.contactForm input[type=reset] {
	background-color: #4aaaa5;
	color: white;
	border-radius: 0px;
	border:0 none; 
	width: 80px;
	height: 30px;
	margin-left: 10px;
}

.contactFormSpacer {
	height: 20px;
}

.connectWithMe {
	background-color: white;
    width: 270px;
    height: 150px;
    padding-top: 20px;
    position: absolute right;
    color: #4aaaa5;
    font-size: 25px;
    float:right;
    margin-top: 40px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: bold;
    position: relative;
    overflow: hidden;

}

hr {
  color: #b3b9a7;
}

.infoContainer hr {
	width:590px;
    border-style: solid;
    border-width: 1px;
}
.connectWithMe hr {
	height: 1px;
	width: 200px;
}

.imageContainer {
	display: table;
	margin: auto;
	text-align: center;
	position: relative;
}
.imageContainer img {
	width: 60px;
	height: 60px;
	margin: 0 7px 0px 7px;
}

.portfolioClear {
	clear: left;
}
.portfolioBox {
	float: left;
	position: relative;
	width: 275px;
	height: 205px;
	margin: 15px 10px; 
}
.portfolioDescription {
	float:left;
	position: absolute;
	background-color: #4aaaa5;
	color: white;
	font-size: 35px;
	top: 138px;
	left: 10px;
	width: 275px;
	height: 60px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}

.foot {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;

	background-color: #666666;
	color: #b3b9a7;
	/*height: 60px;*/
	text-align: center;
	vertical-align: middle;
	/*padding-top: 40px;*/
	float: clear;
	/*position:fixed;*/
   /*bottom:0;*/
   border-top: 7px solid #4aaaa5;
   /*max-width:960px;*/
}

.footerCenter {
	margin: auto;
	padding-top: 20px;
	vertical-align: middle;
}